root = true

[*.{kt,kts}]
indent_size = 4
indent_style = space
insert_final_newline = false

# --- Configurações de Vírgula (Trailing Commas) ---
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration = disabled

# --- Configurações de Importação ---
ktlint_standard_no-wildcard-imports = disabled

# --- Nomenclatura e Estilo ---
ktlint_standard_function-naming = disabled
ktlint_standard_max-line-length = disabled
ktlint_standard_package-name = disabled

# --- Espaçamento ---
ktlint_standard_annotation = disabled